# Dependências
**/node_modules/
.npm
.yarn

# Ambientes e Ferramentas Locais
tools/
estokei/
.gemini/
*.log
*.sqlite
*.db*
saas_schedule.db*

# Builds e Temporários
frontend/dist/
backend/dist/
desktop/dist/
desktop/renderer/
frontend/android/app/build/
frontend/android/.gradle/
.gradle/

# Binários pesados
*.exe
!backend/public/downloads/*.exe

# Variáveis de ambiente secretas
.env
.env*
!.env.example
